@{
    ViewData["Title"] = "Index";
}

@model CharacterSheetViewModel

<div id="app-container-character-sheet"></div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        var app = Elm.CharacterSheet.Main.init({
            node: document.getElementById("app-container-character-sheet"),
            flags: {
                baseUrl: "https://localhost:7068",
                headers: { "Content-type": "application/json", "Accept" : "application/json" },
                character: @Json.Serialize(Model.Character),
            }
        });
    });
    console.log("character sheet loaded");
</script>


<script type="text/javascript" src="~/js/elm.js"></script>
