@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel;

<div id="app-container-home"></div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        var app = Elm.Home.Main.init({
            node: document.getElementById("app-container-home"),
            flags: {
                baseUrl: "https://localhost:7068",
                headers: {},
                userCharacters: @Json.Serialize(Model.UserCharacters),
                isLoggedIn: @Json.Serialize(Model.IsLoggedIn),
            }
        });
    });
</script>


<script type="text/javascript" src="~/js/elm.js"></script>
