#root {
  height: 100vh;
}
#root > div {
  padding: 0 !important;
  height: 100vh;
}
#root > div > div {
  height: 100vh;
}

.scene-list {
  max-height: 525px;
  overflow-y: auto;
  overflow-x: hidden;
}

.scene-name {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.file-import {
  justify-content: flex-end;
}

#battleMap {
  -webkit-overflow-scrolling: auto;
}

.game-board {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.game-board .roll-initiative .combatant {
  justify-content: space-between;
  min-height: 30px;
}
.game-board .dropdown-menu .is-black {
  background-color: #0a0a0a;
  border-radius: 0 0 10px 0;
  border: 2px inset #fff;
}
.game-board .roll-initiative,
.game-board .create-character,
.game-board .map-select {
  overflow-y: auto;
  max-height: 50vh;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.85);
  padding: 1rem;
  border-radius: 10px;
  border: 3px inset #994a00;
  font-family: Arial;
  box-shadow: -5px 5px 20px #000;
  width: calc(100% - 6rem);
  max-width: 550px;
}
.game-board .roll-initiative.element-hidden,
.game-board .create-character.element-hidden,
.game-board .map-select.element-hidden {
  display: none;
}
.game-board .roll-initiative .container-title,
.game-board .create-character .container-title,
.game-board .map-select .container-title {
  color: #fff;
  flex: 1 1 100%;
  margin: 0;
  text-align: center;
  margin-bottom: 1.25rem;
}
.game-board .roll-initiative .roll-initiative-buttons,
.game-board .roll-initiative .create-character-buttons,
.game-board .create-character .roll-initiative-buttons,
.game-board .create-character .create-character-buttons,
.game-board .map-select .roll-initiative-buttons,
.game-board .map-select .create-character-buttons {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}
.game-board .roll-initiative > div,
.game-board .create-character > div,
.game-board .map-select > div {
  display: flex;
}
.game-board .roll-initiative > div label,
.game-board .create-character > div label,
.game-board .map-select > div label {
  color: #fff;
}
.game-board .roll-initiative .flex-50,
.game-board .create-character .flex-50,
.game-board .map-select .flex-50 {
  flex: 1 1 calc(50% - 0.5rem);
  flex-wrap: wrap;
}
.game-board .roll-initiative .flex-33,
.game-board .create-character .flex-33,
.game-board .map-select .flex-33 {
  flex: 1 1 calc(33.333% - 0.667rem);
}
.game-board .roll-initiative .flex-25,
.game-board .create-character .flex-25,
.game-board .map-select .flex-25 {
  flex: 1 1 calc(25% - 0.75rem);
}
.game-board .roll-initiative .flex-75,
.game-board .create-character .flex-75,
.game-board .map-select .flex-75 {
  flex: 1 1 calc(75% - 0.25rem);
}
.game-board .roll-initiative .flex-100,
.game-board .create-character .flex-100,
.game-board .map-select .flex-100 {
  flex: 1 1 100%;
}
.game-board .roll-initiative input,
.game-board .roll-initiative select,
.game-board .roll-initiative .select,
.game-board .create-character input,
.game-board .create-character select,
.game-board .create-character .select,
.game-board .map-select input,
.game-board .map-select select,
.game-board .map-select .select {
  width: 100%;
}
.game-board input[type=checkbox] {
  appearance: auto;
  height: 14px;
  width: 14px;
}
.game-board span {
  color: #fff;
}

.game-map {
  display: flex;
  width: 1300px;
  overflow: hidden;
  position: relative;
  cursor: grab;
  touch-action: none;
  border: 15px inset transparent;
  border-radius: 10px;
  filter: drop-shadow(-2px 2px 30px #000);
  background-image: linear-gradient(#000, #000), linear-gradient(-45deg, #fff, #000);
  background-repeat: no-repeat;
  background-origin: padding-box, border-box;
}
.game-map .grid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.game-map .map-image {
  pointer-events: auto;
  width: 100%;
  z-index: 1;
  border: 5px inset #000;
}
.game-map .initiative-card {
  pointer-events: auto;
  max-width: max-content;
  max-height: max-content;
  position: absolute;
  user-select: none;
  cursor: grab;
  border-radius: 50%;
  box-shadow: -5px 5px 10px #000;
  z-index: 99;
  width: 70px;
  height: 70px;
  background: #000;
}
.game-map .initiative-card.player img {
  border-color: #0c3150;
}
.game-map .initiative-card.ally img {
  border-color: #afa9a3;
}
.game-map .initiative-card.enemy img {
  border-color: #531119;
}
.game-map .initiative-card.enemy.active img {
  border-color: #edde0c;
}
.game-map .initiative-card.active {
  z-index: 5;
  animation: highlight 2s infinite;
}
.game-map .initiative-card.active:before {
  content: "";
  background: url("https://media.giphy.com/media/isqxY03RuhGxNbCPzY/giphy.gif");
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  z-index: 5;
  border-radius: 50%;
  mix-blend-mode: overlay;
  pointer-events: none;
  background-size: contain;
  filter: grayscale(1);
}
.game-map .initiative-card.active img {
  border-color: #7c359e;
}
.game-map .initiative-card.active .character-name {
  background: rgb(0, 0, 0) !important;
}
.game-map .initiative-card img {
  user-select: none;
  transition: all 0.2s ease-in-out;
  max-width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: top;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  border: 4px inset #000;
  box-sizing: border-box;
}
.game-map .initiative-card .initiative-input,
.game-map .initiative-card .character-details {
  display: none;
  pointer-events: none;
}
.game-map .initiative-card .character-name {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 105%;
  transform: translateX(-50%);
  font-family: Arial;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.15rem 0.35rem;
  letter-spacing: 0.03em;
  font-size: 17px;
  cursor: default;
  border-radius: 3px;
}
.game-map .initiative-card:hover .character-name {
  background: rgb(0, 0, 0) !important;
}
.game-map .initiative-card:hover img {
  border-color: #58c8e1 !important;
}

.hud-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-width: 100vw;
  pointer-events: none;
}
.hud-wrapper .float-screen {
  display: flex;
  justify-content: center;
}

.initiative,
.selected-character {
  pointer-events: none;
  display: flex;
  gap: 0px;
  overflow-x: auto;
  align-items: flex-start;
  width: max-content;
  max-width: 100%;
  height: 500px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.initiative::-webkit-scrollbar,
.selected-character::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.initiative .initiative-card,
.selected-character .initiative-card {
  padding: 5px;
  border: 2px solid #000;
  background: linear-gradient(150deg, #afa9a3, #f8eae4);
  position: relative;
  transition: background 0.35s ease-in-out, width 0.35s ease-in-out, height 0.35s ease-in-out, transform 0.75s ease-in-out;
}
.initiative .initiative-card:before,
.selected-character .initiative-card:before {
  content: "";
  background: url("https://media.giphy.com/media/YqhIK6Gbor6CLeloBq/giphy-downsized-large.gif");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  background-size: contain;
  filter: grayscale(1) opacity(0.5);
  mix-blend-mode: overlay;
  transform: rotate(180deg);
}
.initiative .initiative-card.player,
.selected-character .initiative-card.player {
  background: linear-gradient(150deg, #0c3150, #58c8e1);
}
.initiative .initiative-card.ally,
.selected-character .initiative-card.ally {
  background: linear-gradient(150deg, #afa9a3, #f8eae4);
}
.initiative .initiative-card.enemy,
.selected-character .initiative-card.enemy {
  background: linear-gradient(150deg, #531119, #c44159);
}
.initiative .initiative-card.enemy.active,
.selected-character .initiative-card.enemy.active {
  background: linear-gradient(150deg, #333008, #edde0c);
}
.initiative .initiative-card.active,
.selected-character .initiative-card.active {
  background: linear-gradient(150deg, #2f1f67, #7c359e);
  width: 70px;
  height: 117px;
}
.initiative .initiative-card span,
.selected-character .initiative-card span {
  z-index: 10;
}
.initiative .initiative-card img,
.selected-character .initiative-card img {
  border: 2px solid #000;
  border-radius: 3px;
  border: 2px solid #000;
}
.initiative .initiative-card__selected,
.selected-character .initiative-card__selected {
  border: none;
}
.initiative .initiative-card__selected img,
.selected-character .initiative-card__selected img {
  border-radius: 10px;
  border: 3px outset #994a00;
}
.initiative .initiative-card,
.initiative .initiative-card__selected,
.selected-character .initiative-card,
.selected-character .initiative-card__selected {
  pointer-events: auto;
  display: flex;
  flex: 0 0 auto;
  width: 65px;
  height: 108px;
}
.initiative .initiative-card .character-name,
.initiative .initiative-card__selected .character-name,
.selected-character .initiative-card .character-name,
.selected-character .initiative-card__selected .character-name {
  display: none;
}
.initiative .initiative-card img,
.initiative .initiative-card__selected img,
.selected-character .initiative-card img,
.selected-character .initiative-card__selected img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-position: top;
  overflow: hidden;
  object-fit: cover;
  z-index: 0;
}
.initiative .initiative-card:last-of-type .character-details,
.initiative .initiative-card__selected:last-of-type .character-details,
.selected-character .initiative-card:last-of-type .character-details,
.selected-character .initiative-card__selected:last-of-type .character-details {
  left: unset;
  right: 0;
}
.initiative .initiative-card .character-details,
.initiative .initiative-card__selected .character-details,
.selected-character .initiative-card .character-details,
.selected-character .initiative-card__selected .character-details {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background: #232323;
  border: 3px inset rgba(255, 255, 255, 0.25);
  padding: 0.75rem;
  border-radius: 6px;
  color: #f9f9f9;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  gap: 0.65rem;
  opacity: 0;
  pointer-events: none;
}
.initiative .initiative-card .character-details .stats,
.initiative .initiative-card__selected .character-details .stats,
.selected-character .initiative-card .character-details .stats,
.selected-character .initiative-card__selected .character-details .stats {
  font-family: Roboto Mono;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.35rem;
  font-weight: 600;
  line-height: 1;
  font-size: 14px;
  flex: 1 1 100%;
}
.initiative .initiative-card .character-details .stats .stat-label,
.initiative .initiative-card__selected .character-details .stats .stat-label,
.selected-character .initiative-card .character-details .stats .stat-label,
.selected-character .initiative-card__selected .character-details .stats .stat-label {
  flex: 0 0 auto;
  text-align: right;
}
.initiative .initiative-card .character-details .stats .stat-mod,
.initiative .initiative-card__selected .character-details .stats .stat-mod,
.selected-character .initiative-card .character-details .stats .stat-mod,
.selected-character .initiative-card__selected .character-details .stats .stat-mod {
  flex: 0 0 30px;
  font-weight: 900;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.initiative .initiative-card .character-details .stats .stat-score,
.initiative .initiative-card__selected .character-details .stats .stat-score,
.selected-character .initiative-card .character-details .stats .stat-score,
.selected-character .initiative-card__selected .character-details .stats .stat-score {
  color: rgba(255, 255, 255, 0.5);
  flex: 0 0 33px;
  text-align: right;
}
.initiative .initiative-card .character-details .stats.lvl, .initiative .initiative-card .character-details .stats.hp,
.initiative .initiative-card__selected .character-details .stats.lvl,
.initiative .initiative-card__selected .character-details .stats.hp,
.selected-character .initiative-card .character-details .stats.lvl,
.selected-character .initiative-card .character-details .stats.hp,
.selected-character .initiative-card__selected .character-details .stats.lvl,
.selected-character .initiative-card__selected .character-details .stats.hp {
  flex: 1 1 calc(50% - 1rem);
  flex-direction: column;
  border: 2px inset #f9f9f9;
  gap: 0;
  border-radius: 5px;
  overflow: hidden;
}
.initiative .initiative-card .character-details .stats.lvl .stat-label, .initiative .initiative-card .character-details .stats.hp .stat-label,
.initiative .initiative-card__selected .character-details .stats.lvl .stat-label,
.initiative .initiative-card__selected .character-details .stats.hp .stat-label,
.selected-character .initiative-card .character-details .stats.lvl .stat-label,
.selected-character .initiative-card .character-details .stats.hp .stat-label,
.selected-character .initiative-card__selected .character-details .stats.lvl .stat-label,
.selected-character .initiative-card__selected .character-details .stats.hp .stat-label {
  border-bottom: 2px inset #ddd;
  width: calc(100% - 0.5rem);
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  color: #111;
}
.initiative .initiative-card .character-details .stats.lvl .stat-label,
.initiative .initiative-card .character-details .stats.lvl .stat-level,
.initiative .initiative-card .character-details .stats.lvl .stat-hp, .initiative .initiative-card .character-details .stats.hp .stat-label,
.initiative .initiative-card .character-details .stats.hp .stat-level,
.initiative .initiative-card .character-details .stats.hp .stat-hp,
.initiative .initiative-card__selected .character-details .stats.lvl .stat-label,
.initiative .initiative-card__selected .character-details .stats.lvl .stat-level,
.initiative .initiative-card__selected .character-details .stats.lvl .stat-hp,
.initiative .initiative-card__selected .character-details .stats.hp .stat-label,
.initiative .initiative-card__selected .character-details .stats.hp .stat-level,
.initiative .initiative-card__selected .character-details .stats.hp .stat-hp,
.selected-character .initiative-card .character-details .stats.lvl .stat-label,
.selected-character .initiative-card .character-details .stats.lvl .stat-level,
.selected-character .initiative-card .character-details .stats.lvl .stat-hp,
.selected-character .initiative-card .character-details .stats.hp .stat-label,
.selected-character .initiative-card .character-details .stats.hp .stat-level,
.selected-character .initiative-card .character-details .stats.hp .stat-hp,
.selected-character .initiative-card__selected .character-details .stats.lvl .stat-label,
.selected-character .initiative-card__selected .character-details .stats.lvl .stat-level,
.selected-character .initiative-card__selected .character-details .stats.lvl .stat-hp,
.selected-character .initiative-card__selected .character-details .stats.hp .stat-label,
.selected-character .initiative-card__selected .character-details .stats.hp .stat-level,
.selected-character .initiative-card__selected .character-details .stats.hp .stat-hp {
  padding: 0.25rem;
}
.initiative .initiative-card .character-details .stats.str .stat-mod,
.initiative .initiative-card__selected .character-details .stats.str .stat-mod,
.selected-character .initiative-card .character-details .stats.str .stat-mod,
.selected-character .initiative-card__selected .character-details .stats.str .stat-mod {
  background: rgba(145, 42, 42, 0.6);
}
.initiative .initiative-card .character-details .stats.dex .stat-mod,
.initiative .initiative-card__selected .character-details .stats.dex .stat-mod,
.selected-character .initiative-card .character-details .stats.dex .stat-mod,
.selected-character .initiative-card__selected .character-details .stats.dex .stat-mod {
  background: rgba(67, 133, 62, 0.6);
}
.initiative .initiative-card .character-details .stats.con .stat-mod,
.initiative .initiative-card__selected .character-details .stats.con .stat-mod,
.selected-character .initiative-card .character-details .stats.con .stat-mod,
.selected-character .initiative-card__selected .character-details .stats.con .stat-mod {
  background: rgba(209, 140, 67, 0.6);
}
.initiative .initiative-card .character-details .stats.wis .stat-mod,
.initiative .initiative-card__selected .character-details .stats.wis .stat-mod,
.selected-character .initiative-card .character-details .stats.wis .stat-mod,
.selected-character .initiative-card__selected .character-details .stats.wis .stat-mod {
  background: rgba(84, 42, 117, 0.6);
}
.initiative .initiative-card .character-details .stats.int .stat-mod,
.initiative .initiative-card__selected .character-details .stats.int .stat-mod,
.selected-character .initiative-card .character-details .stats.int .stat-mod,
.selected-character .initiative-card__selected .character-details .stats.int .stat-mod {
  background: rgba(52, 89, 148, 0.6);
}
.initiative .initiative-card .character-details .stats.cha .stat-mod,
.initiative .initiative-card__selected .character-details .stats.cha .stat-mod,
.selected-character .initiative-card .character-details .stats.cha .stat-mod,
.selected-character .initiative-card__selected .character-details .stats.cha .stat-mod {
  background: rgba(215, 184, 11, 0.6);
}
.initiative .initiative-card:hover, .initiative .initiative-card:focus,
.initiative .initiative-card__selected:hover,
.initiative .initiative-card__selected:focus,
.selected-character .initiative-card:hover,
.selected-character .initiative-card:focus,
.selected-character .initiative-card__selected:hover,
.selected-character .initiative-card__selected:focus {
  width: 70px;
  height: 117px;
}
.initiative .initiative-card:hover .character-details, .initiative .initiative-card:focus .character-details,
.initiative .initiative-card__selected:hover .character-details,
.initiative .initiative-card__selected:focus .character-details,
.selected-character .initiative-card:hover .character-details,
.selected-character .initiative-card:focus .character-details,
.selected-character .initiative-card__selected:hover .character-details,
.selected-character .initiative-card__selected:focus .character-details {
  opacity: 1;
  pointer-events: auto;
}

.character-introduction {
  width: max-content;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  display: none;
  align-items: center;
  gap: 1rem;
  height: max-content;
  text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #000, 0 0 5px #000, 0 0 4px #000, 0 0 5px #000, 0 0 4px #000, 0 0 5px #000, 0 0 4px #000, 0 0 5px #000;
}
.character-introduction.introduce {
  display: flex;
  animation: fadeIntro 7s forwards;
}
.character-introduction .name {
  font-size: calc(25px + 45 * (100vw - 380px) / 1540);
}
.character-introduction .level {
  font-size: calc(25px + 5 * (100vw - 380px) / 1540);
}

.zoom-controls {
  position: absolute;
  left: 5px;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;
}
.zoom-controls .button-zoom {
  appearance: none;
  outline: none;
  cursor: pointer;
  color: #000;
  border: 3px solid #ddd;
  width: 40px;
  height: 40px;
  font-weight: 900;
  font-family: Arial;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.6);
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}
.zoom-controls .button-zoom:hover {
  background: #fff;
}

.remove-button {
  padding: 0.15rem !important;
  height: 26px;
  width: 26px !important;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  z-index: 5;
  font-size: 14px !important;
  background: #232323;
  color: #f9f9f9;
}
.remove-button:hover {
  background: #5c1010 !important;
}

.copy-button {
  padding: 0.15rem !important;
  height: 26px;
  width: 26px !important;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  z-index: 5;
  font-size: 14px !important;
  background: #232323;
  color: #f9f9f9;
}
.copy-button:hover {
  background: #0c3150 !important;
}

.edit-button {
  padding: 0.15rem !important;
  height: 26px;
  width: 26px !important;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  z-index: 5;
  font-size: 14px !important;
  background: #232323;
  color: #f9f9f9;
}
.edit-button:hover {
  background: #0c3150 !important;
}

.game-buttons {
  position: fixed;
  bottom: 0;
  right: 2px;
  background: rgba(0, 0, 0, 0.85);
  padding: 1rem;
  border-radius: 10px;
  border: 3px inset #994a00;
  height: max-content;
  width: max-content;
  display: inline-flex;
  gap: 0.25rem;
  top: 0;
  margin: auto 0;
  flex-direction: column;
  padding: 0.5rem;
}
.game-buttons .button-hidden {
  display: none;
}

html {
  min-height: 100vh;
  overflow-y: hidden;
}

body {
  min-height: 100vh;
  background: #000;
  background: url("https://getwallpapers.com/wallpaper/full/7/0/c/66338.jpg");
  background-size: cover;
  margin: 0;
}

@keyframes fadeIntro {
  100%, 0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
}
@keyframes slideIntro {
  0% {
    top: -40px;
  }
  20% {
    top: -40px;
  }
  100% {
    top: 10px;
  }
}
@keyframes highlight {
  100%, 0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
}
.create-character-name {
  position: relative;
}

#characterName {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 6px 6px 6px 6px;
}

.filter-box {
  display: none;
}

.create-character-name:focus-within > .filter-box {
  display: initial;
  position: absolute;
  top: 72px;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 1;
  border-radius: 6px;
  border: 2px solid rgb(74, 74, 74);
}

.filter-option > button {
  justify-content: flex-start;
  width: 100%;
  text-align: left;
}

.selected-character {
  position: fixed;
  left: 0;
  bottom: 2px;
  right: 0;
  margin: auto;
  height: min-content;
  scrollbar-width: initial;
  overflow-x: initial;
  align-items: flex-end;
}
.selected-character .selected-character__actions {
  background: rgba(0, 0, 0, 0.85);
  padding: 0.25rem;
  border-radius: 10px;
  border: 3px inset #994a00;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, auto);
  height: 80px;
  grid-gap: 2px;
  pointer-events: auto;
}
.selected-character .initiative-card__selected {
  width: 80px;
  height: 140px;
}
.selected-character .initiative-card__selected:hover, .selected-character .initiative-card__selected:focus {
  width: 80px;
  height: 140px;
}

.button.is-small:not(.is-rounded) {
  border-radius: 4px;
}

/*# sourceMappingURL=main.css.map */
